*.db
*.txt
!requirements.txt
*.png
*.out
*.pkl

data_runs/*
/outputs/*
!/outputs/README.md
!/_auto_script/**/*.py
!/_my_script/**/*.py
fock_datasets/*
slurm-*
*.db
*.err
*.sh
!/_auto_script/**/*.sh
!/_my_script/experiment/**/*.sh
*.pyc
wandb/
plot_env/
ICLR_2025
configs/

# Ignore IDE files
.vscode/*

# Ignore egg-info folder
*.egg-info/*
src/*.egg-info/*
src/maloq/*.egg-info/*
/build/
